include LICENSE
include README.md
include CHANGELOG.rst
recursive-include pymacies_arg *.py

exclude tox.ini
exclude run.sh
exclude backup.sh
exclude cmd.sh
exclude pyproject.toml
exclude .readthedocs.yaml
exclude .docstr.yaml
exclude *.yml
exclude codecov
recursive-exclude tests *
recursive-exclude requirements *
recursive-exclude docs *
recursive-exclude sample_app *
recursive-exclude sample_app *.csv
recursive-exclude sample_app *.example
recursive-exclude sample_app *.py
recursive-exclude sample_app *.sql
recursive-exclude sample_app_sqlite *
recursive-exclude sample_app_sqlite *.csv
recursive-exclude sample_app_sqlite *.example
recursive-exclude sample_app_sqlite *.py
recursive-exclude sample_app_sqlite *.sql