[DEFAULT]
dialect = postgresql
username = your_username
password = your_password
host = localhost
port = 5432
database = your_db_data
SQLALCHEMY_DATABASE_URI = %(dialect)s://%(username)s:%(password)s@%(host)s:%(port)s/%(database)s